.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-left: 2px solid black;
    padding: 0 4px;
}

@media (max-width: 768px) {
    .instructions {
        width: 100% !important;
        height: auto !important;
        border-left: none;
        padding: 0;
        margin-bottom: 4px;
    }
}
