.App {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 75%;
}

.main,
.instructions {
    height: 100vh;
}

@media (max-width: 768px) {
    .App {
        flex-direction: column-reverse;
    }

    .main {
        width: 100%;
    }
}
